.menu{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #e7e0de43;
    z-index: 999;
    >.row{
        width: 100%;
        height: 100%;
        padding: 0 100px;
        >.logo{
            width: 20%;
            height: 70px;
            background-image: url(../img/logo-01.png);
            background-size: 150px;
            background-repeat: no-repeat;
            display: flex;
            background-position: 10px;
        }
        >nav{
            width: 60%;
            height: 70px;
            >ul{
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                >li{
                    margin-left: 15px;
                    &:first-of-type{
                        color: blue;
                    }
                    position: relative;
                    &:hover>ul{
                        height: 130px;
                        visibility: visible;
                    }
                    >ul{
                        position: absolute;
                        left: 0;top: 30px;
                        width: 250%;
                        height: 0;
                        visibility: hidden;
                        transition: .4s;
                        background-color: #fff;
                        overflow: hidden;
                        >li{
                            padding: 10px 5px;
                            >a{
                                color: black;
                                text-transform: capitalize;
                            }
                        }
                    }
                    >a{
                        transition: .4s;
                        text-transform: capitalize;
                        &:hover{
                            color: rgb(90, 90, 90);
                        }
                    }
                }
            }
        }
        >.icon{
            width: 20%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            >a{
                &:hover>svg{
                    color: #4e3eff;
                }
                >svg{
                    transition: .4s;
                    width: 20px;height: 20px;
                }
            }
        }
    }
}

.slid{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    >div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &:nth-of-type(1){
            background-image: url(../img/slide-02.jpg);
            background-position: -100px 0;
            opacity: 0;
            animation: slid1 15s infinite;
        }
        &:nth-of-type(2){
            background-image: url(../img/slide-01.jpg);
            background-position: -100px 0;
            opacity: 0;
            animation: slid2 15s infinite;
        }
        &:nth-of-type(3){
            background-image: url(../img/slide-03.jpg);
            background-position: -100px 0;
            opacity: 0;
            animation: slid3 15s infinite;
        }
        padding: 20% 200px;
        *{
            text-transform: capitalize;
            margin: 30px 0;
        }
        >h3{
            font-size: 30px;
            transform: translateY(-200px);
            opacity: 0;
            animation: h3 5s infinite ;
        }
        >h2{
            font-size: 60px;
            font-weight: bold;
            transform: translateX(300px);
            opacity: 0;
            animation: h2 5s infinite ;
        }
        >span{
            display: flex;
            transform: translateY(200px);
            opacity: 0;
            animation: span 5s infinite ;
            >a{
                padding: 15px 40px;
                border-radius: 50px;
                background-color: #0077ff;
                color: #fff;
                transition: .4s;
                &:hover{
                    background-color: #0c0c0c;
                }
            }
        }
    }
}
@keyframes h3{
    0%{transform: translateY(-200px);opacity: 0;}
    20%,100%{
        transform: translateY(0);opacity: 1;
    }
}
@keyframes h2{
    0%,20%{transform: translatex(300px);opacity: 0;}
    40%,100%{
        transform: translateY(0);opacity: 1;
    }
}
@keyframes span{
    0%,40%{transform: translateY(200px);opacity: 0;}
    60%,100%{
        transform: translateY(0) rotatex(360deg);opacity: 1;
    }
}
@keyframes slid1{
    0%{opacity: 0;}
    10%{opacity: 1;}
    30%{opacity: 1;}
    36%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes slid2{
    0%{opacity: 0;}
    35%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 1;}
    65%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes slid3{
    0%{opacity: 0;}
    67%{opacity: 0;}
    73%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}

.category{
    width: 100%;
    height: 50vh;
    >.row{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        >figure{
            width: 25%;
            height: 30vh;
            position: relative;
            border: 1px solid #3c3c3c;
            &:hover::after{
                opacity: 1;
            }
            &::after{
                content: 'shop now';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #0066ff90;
                top: 0;left: 0;
                display: flex;
                padding: 20px;
                align-items: end;
                text-decoration: underline;
                opacity: 0;
                transition: .4s;
            }
            >img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            >figcaption{
                position: absolute;
                top: 10px;
                left: 10px;
                >h6{
                    font-size: 30px;
                    text-transform: capitalize;
                }
                >p{
                    color: rgb(99, 99, 99);
                    margin-top: 15px;
                }
            }
        }
    }
}

.shop{
    width: 100%;
    height: 300vh;
    padding: 100px;
    >h2{
        width: 100%;
        height: 3%;
        text-transform: uppercase;
        font-size: 40px;
    }
    >.row{
        width: 100%;
        height: 4%;
        align-items: center;
        justify-content: space-between;
        >nav{
            width: 50%;
            height: 100%;
            >ul{
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: start;
                >li{
                    margin-right: 15px;
                    >a{
                        text-transform: capitalize;
                        color: #303030;
                        transition: .4s;
                        &:hover{
                            text-decoration: underline;
                            color: #000000;
                        }
                    }
                }
            }
        }
        >div{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            >span{
                border: 1px solid black;
                padding: 10px 15px;
                border-radius: 50px;
                >a{
                    font-size: 20px;
                    >svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    >.figure{
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        >figure{
            width: 24%;
            height: 450px;
            position: relative;
            overflow: hidden;
            >img{
                object-fit: cover;
                width: 100%;
                transition: .4s;
            }
            >figcaption{
                position: absolute;
                left: 0;
                bottom: 10px;
                >h6{
                    font-size: 15px;
                    text-transform: capitalize;
                    color: #999999;
                }
                >p{
                    color: #746b66;
                    margin-top: 8px;
                }
            }
            &::after{
                content: 'quick view';
                position: absolute;
                display: flex;
                padding: 20px 30px;
                color: #000000;
                background-color: #fff;
                border-radius: 50px;
                bottom: -50px;left: 50%;
                transform: translate(-50% , 50%);
                text-transform: capitalize;
                opacity: 0;
                transition: .4s;
                cursor: pointer;
            }
            &:hover::after{
                opacity: 1;bottom: 100px;
            }
            &:hover>img{
                transform: scale(1.1);
            }
        }
    }
}

.footer{
    width: 100%;
    height: 50vh;
    padding: 100px;
    background-color: #222;
    >.row{
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
        >div{
            width: 22%;
            text-transform: capitalize;
            border-right: 1px solid #9f9e9f;
            >h3{
                color: #fff;
                font-size: 25px;
            }
            >ul{
                >li{
                    margin: 20px 0;
                    &:hover>a{
                        color: #0077ff;
                    }
                    >a{
                        color: #9f9e9f;
                        transition: .4s;
                    }
                }
            }
            >p{
                color: #9f9e9f;
                margin: 20px 0;
            }
            >.row{
                width: 100%;
                margin: 20px 0;
                >a{
                    margin-right: 20px;
                    &:hover>svg{
                        color: #0077ff;
                    }
                    >svg{
                        width: 25px;
                        height: 25px;
                        color: #9f9e9f;
                        transition: .4s;
                    }
                }
            }
            >h2{
                text-transform: uppercase;
                color: #00ffbb;
                margin: 40px 0;
            }
            >img{
                width: 80px;
            }
        }
    }
}